
h2{
  text-align:center; 
  padding-top: 3%;
  color:black;
  text-shadow:2px 1px;
  font-size:20px;
  font-family:'Playfair Display', serif;
}
h5{
  font-family:'Metal Mania';
  text-align: center;
  font-size:50px;
  color:red;
}

body{
  background-image: url(https://cdn.shopify.com/s/files/1/2930/2308/products/retro-chocolate-wood-floor-texture-photography_large_cfad0920-88ec-4e00-9a87-72086a77d27f_grande.jpg?v=1535699686);
}

.shop{
  padding-left:4%;
  text-align:center;
  font-size:20px;
  color:white;
  text-shadow:2px 1px;
  font-family: 'Philosopher', sans-serif;
  
}

  
}
.fa {
  padding: 10px;
  font-size: 70px;
  width: 70px;
  text-align:center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
  background:none;
  color:light blue;
}

.fa-twitter {
  background:none ;
  color: light blue;
}
.fa-linkedin {
  background:none;
  color: light blue;
}

.fa-youtube {
  background: none;
  color: light blue ;
}

.fa-instagram {
  background:none ;
  color:  light blue;
}
.jumbotron{
  background: brown;
  text-align:center;
  color:white;
  font-size:30px;
  text-shadow:2px 2px black;
}
.bg-dark{
  background:rgba(0,0,0)!important;
}
#mark{
  color:white;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  font-size:30px;
  color: black;
}
.navbar-brand{
  font-family: 'dancing script', cursive;
  font-size:40px;
}
.nav-link{
  font-family: 'Old Standard TT', serif;
}
.one:hover{
  opacity:0.7;
}
#contact{
font-family: 'Berkshire Swash', cursive;
font-size:40px;
}
.but
{
   background: #b0afac;
        padding:9px;
        border: 1px solid #999;
}
